@import '../../styles/functions';
@import '../../styles/mixins';

.library {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sort {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -#{spacing(0)} spacing(1);

  > * {
    padding: 0 spacing(0);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{spacing(1)};
  padding: spacing(1) 0;
  overflow: auto;
}

.story {
  @include card;
  flex-grow: 1;
  margin: 0 spacing(1) spacing(2);
  max-width: calc((600px - #{spacing(2)}) / 2 - 2 * #{spacing(1)});
  min-width: calc((600px - #{spacing(2)}) / 3 - 2 * #{spacing(1)});
  padding: spacing(2);
}

.load-more {
  display: flex;
  width: 100%;
  button {
    margin: auto;
  }
}

.info {
  margin: auto;
}
