@import '../../styles/functions';

.card {
  border-radius: spacing(1);
  box-shadow: 0 0 spacing(1) color(grey-dark);
  padding: spacing(2);
  text-align: center;
}

.link {
  font-weight: normal;
}
