@import 'functions';
@import 'mixins';

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &--\/login,&--\/faq {
    main {
      min-height: auto;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 720px;
  padding: spacing(2);
  width: 100%;

  @include desktop {
    min-height: 0;
  }
}
