@import 'functions';

html {
  color: color(black);
  font-family: 'EB Garamond', serif;
}

a {
  color: color(black);
  cursor: pointer;
  text-decoration: none;

  &:focus,&:hover {
    text-decoration: underline;
  }
}
