@import 'functions';

html {
  color: color(black);
  font-family: 'EB Garamond', serif;
}

h1 {
  margin-bottom: spacing(0);
}

a {
  color: color(black);
  cursor: pointer;
  text-decoration: none;

  &:focus,&:hover {
    text-decoration: underline;
  }
}
