@import "../../styles/functions";

.account {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.heading {
  h1 {
    margin-right: auto;
  }
  align-items: center;
  display: flex;
}

.info {
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sentence {
  margin-bottom: spacing(1);
}

.load-more {
  margin: 0 auto;
}
