@import '../../styles/functions';

.write {
  border-radius: spacing(1);
  box-shadow: 0 0 spacing(1) color(grey-dark);
  display: flex;
  flex-direction: column;
  padding: spacing(2);

  textarea {
    height: spacing(5);
    margin-bottom: spacing(1);
    padding: spacing(0);
    width: 100%;
  }
}
