@import '../../styles/functions';
@import '../../styles/mixins';

.write {
  @include card;

  display: flex;
  flex-direction: column;
  padding: spacing(2);

  textarea {
    height: spacing(5);
    margin-bottom: spacing(1);
    padding: spacing(0);
    width: 100%;
  }
}

.error {
  color: color(red);
  font-weight: bold;
  margin-top: spacing(0);
}
