@import "../../styles/functions";

.login {
  display: flex;
  flex-direction: column;
}

.toggle {
  color: color(green);
  font-weight: bold;
  margin-right: auto;
}

.forgot-password {
  color: color(red);
  font-weight: bold;
  margin-right: auto;
}

.error {
  color: color(red);
  font-weight: bold;
  margin-bottom: spacing(0);
}
