@import "../../styles/functions";

.login {
  display: flex;
  flex-direction: column;

  input[type="checkbox"] {
    margin-top: spacing(1);
  }
}

.toggle {
  color: color(green);
  margin-right: auto;
}

.forgot-password {
  color: color(red);
  margin-right: auto;
}

.error {
  margin-bottom: spacing(0);
}
