@import '../../styles/functions';
@import '../../styles/mixins';

.container {
  border-radius: spacing(1);
  box-shadow: 0 0 spacing(1) color(grey-dark);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  @include desktop {
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
  }
}

.half {
  display: flex;
  flex-direction: column;
  overflow: auto;

  @include desktop {
    flex: 1 0 50%;

    &:first-child {
      border-right: 1px solid color(grey-light);
    }
  }
}

.top {
  padding: spacing(2) spacing(2) 0;

  @include desktop {
    padding: spacing(2);
  }
}

.bottom {
  flex-grow: 1;
  padding: spacing(2);
}

.begin {
  display: none;
  @include desktop {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include desktop {
    margin: auto 0;
    height: auto;
  }
}

.center {
  margin: auto;
  padding: spacing(2);
}

.sort {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: spacing(2);
}

.children {
  display: flex;
  flex-direction: column;
  margin: auto 0 spacing(2) 0;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    margin-bottom: spacing(2);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.load-more {
  margin: 0 auto spacing(2);
}

.write {
  margin-top: auto;
}
